<!doctype html>
<html>
<head>
  <title>Tracker</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" integrity="sha256-2pUeJf+y0ltRPSbKOeJh09ipQFYxUdct5nTY6GAXswA=" crossorigin="anonymous" />
  <%= stylesheet_link_tag :application %>
</head>
<body>
  <div id="app">
    <div v-if="signed_in()">
      <section class="section">
        <div class="container">
          <p>Signed in as {{ current_user.email }}. <button class="button" @click="sign_out">Sign Out</button></p>
        </div>
      </section>
      <section class="section">
        <div class="container">
          <div class="field">
            <label class="label">Activity</label>
            <div class="select">
              <select @change="fetch_current_pr" v-model="new_activity_log.activity_id">
                <option selected>Choose an Activity</option>
                <option v-for="activity in activities" :value="activity.id">{{ activity.name }}</option>
              </select>
            </div>
            <p class="help">Current PR: {{ current_pr.weight }} x {{ current_pr.reps }}</p>
          </div>
          <div class="field">
            <label class="label">Weight</label>
            <input class="input" v-model="new_activity_log.weight" type="number" placeholder="Weight">
          </div>
          <div class="field">
            <label class="label">Reps</label>
            <input class="input" v-model="new_activity_log.reps" type="number" placeholder="Reps">
          </div>
          <div class="field">
            <label class="label">Time</label>
            <input class="input" v-model="new_activity_log.time" type="number" placeholder="Time">
          </div>
          <div class="field">
            <label class="label">Notes</label>
            <textarea class="input" v-model="new_activity_log.notes"></textarea>
            <p class="help">Add notes to this entry. Example: "Failed on the last rep"</p>
          </div>
          <div class="field">
            <label class="label">Date Override</label>
            <input class="input" v-model="new_activity_log.completed_at" type="date">
            <p class="help">Use this field to log an activity that you completed on another day. You probably won't use this most of the time.</p>
          </div>
          <div class="field">
            <button class="button" @click="log_activity">Log Activity</button>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="container">
          <ul>
            <li v-for="log in activity_logs">id: {{ log.id }}, weight: {{ log.weight }}, reps: {{ log.reps }}, time: {{ log.time }}</li>
          </ul>
        </div>
      </section>
    </div>
    <div v-else>
      <section class="section">
        <div class="container">
          <div class="field">
            <label class="label">Email</label>
            <input class="input" v-model="current_user.email" type="email" placeholder="Email">
          </div>
          <div class="field">
            <label class="label">Password</label>
            <input class="input" v-model="temp.password" type="password" placeholder="Password">
          </div>
          <div class="field">
            <button class="button" @click="sign_in">Sign In</button>
          </div>
        </div>
      </section>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
  <%= javascript_include_tag :application %>
</body>
</html>
